


<div class="del_trip_wrapper" style="display: block;">
    <div class="del_trip_conteater">
        <form method="post" class="confirm-del-F"
            hx-post="{% url 'user_app:delete_trip' trip.id %}" 
            hx-target="#delet_trip_modal" 
            hx-swap="outerHTML">
            {% csrf_token %}
            
            <p class="confirm-Del-M">Are you sure you want to delete "{{ trip.name }}"?</p>
            <div class="delBtn-conferm">
                <button type="submit" class="confirm-Del-Btn"> Yes </button>
                <button class="confirm-Del-Btn"
                onclick="document.getElementById('delet_trip_modal').innerHTML = '';">
                No
                </button>
            </div>
        </form>

    </div>
</div>