<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Trips</title>
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" href="{% static 'css/myTrip/myTrip.css' %}">
  <link rel="stylesheet" href="{% static 'css/form/tri-cat-form.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/icons/favico/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favico/favicon-32x32.png' %}">
  <link rel="stylesheet" href="{% static 'css/calender/monthlyCal.css' %}">

</head>
<body>
  <main>
    <section class="glass">
      <!-- [Az] include for the nav bar -->
      {% include "includes/nav.html" %}
      <!-- [Az]here is the rest of the DB -->
      <div class="dashbord">
      <!-- [Az] the 1st collomn  -->
        <div class="dash1" id="main-display">
          <!-- [Az] here is the part in db1 for the cat dispaly -->
          {% include "partials/db1.html" %}
          <!-- [Az] here is the part in db2 for the trip dispaly -->
          {% include "partials/db2.html" %}

        <!--[Az] the 2nd colloum for monthly Calender and the map-->
        <div class="dash2">
          <!--[Az] Calender and map in dash2 it is included -->
          {% include "includes/myTripCalMap.html" %}
        </div>
      </div>
    </section>
    
  </main>
  <div class="circle1"></div>
  <div class="circle2"></div>
  
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
  <script src="{% static 'js\calender\monthlyView.js' %}"></script>
  <script src="{% static 'js\myTripScrolling.js' %}"></script>
  <script src="{% static 'js\tripCards\myCat.js' %}"></script>
  <script src="{% static 'js\tripCards\tripCards.js' %}"></script>

</body>
</html>